@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Lao&family=Quicksand&family=Roboto+Slab:wght@500&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 1px 0px #93ccc6;
    background-color: #cfffdd;
}
.container-logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.img-logo{
    width: 90px;
    height: 90px;
}
.container-menu{
    width: 20%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.p{
    cursor: pointer;
    font-family: 'Noto Serif Lao', serif;
    padding-top: 15px;
    background-color: #cfffdd;
    border: none;
}

/* BUSQUEDA */


.container-src{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.search{
    background-color: white;
    height: 40px;
    width: 60%;
    border: 1px solid #27ae60;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.lupa{
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-right: 1px solid #27ae60;
}
.btn-src{
    border: none;
    background-color: white;
    color: #27ae60;
    padding: 10px;
}
.btn-src::placeholder{
    color: #27ae60;
}
.btn-src:focus{
    outline: none;
}
.search:hover{
    box-shadow: 0 0 3px 1px #27ae60;
}
.search:focus{
    outline: none;
    box-shadow: 0 0 2px 2px #93ccc6;
}
.resultados-src{
    width: 60%;
    height: 20rem;
    display: none;
    flex-direction: column;
    opacity: 100%;
    z-index: 1;
    background-color: white;
    border-bottom-left-radius:  2px;
    border-bottom-right-radius:  2px;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}
.card-src{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-src:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px #27ae60;
}
.img-src{
    height: 4rem;
    width: 3rem;
}
 .name-src{
    margin-top: 10px;
}

/* LOGO CARRITO */

.container-cart{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.carrito{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* DROPDOWN */

.container-dropdown{
    width: 100%;
    height: 3rem;
    background-color: #cfffdd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 1px #71dbd2;
}
.dropdown{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #cfffdd;
}
.dropdown:hover{
    box-shadow: 0 0 5px 2px #acc3b3;
    cursor: pointer;
}
.btn-dropdown{
    border: none;
    background-color: #cfffdd;
    margin: 0;
    padding: 0;
}


/* PRODUCTOS */

.div-tit-p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tit-productos{
    margin: auto;
}

.titulo-products{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}
.container-products{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card1:hover{
    box-shadow: 1px 2px 4px 5px #71dbd2;
    transition: 0.2s;
    cursor: pointer;
}
.imgs{
    height: 250px;
}
#cont-cart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Carrito */

.img-carro{
    height: 150px;
    width: 150px;
}
.btn-eliminar-cart{
    height: 2rem;
    width: 2rem;
}


/* PRODUCTO AMPLIADO */

.container-img-ampliada{
    width: 80%;
    margin: auto;
}
.cont-imgA{
    width: 50%;
}
.img-ampliada{
    height: 80%;
    width: 80%;
}
.p-total{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-right: 2rem;
}
.btnA{
    height: 3rem;
    width: 10rem;
    background-color: white;
    border: 2px solid #27ae60;
    border-radius: 80px;
}
.btnA:hover, .btnAS:hover{
    box-shadow: 1px 1px 4px 1px #27ae60;
}
.btnA:focus{
    height: 3rem;
    width: 10rem;
    background-color: #27ae60;
    border: 2px solid #b4e9e4;
    color: white;
    border-radius: 80px;
}

/* LOGIN */

#container-ingreso{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Boton Whatsapp */

.btn-wsp{
    width: 400px;
    height: 90px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}
.img-btn-wsp{
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.container-toast{
    width: 200px;
}
/* FOOTER */

footer{
    margin-top: 50px;
    height: 550px;
    background-color: #cfffdd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.container-sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer h2{
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
}
.caja-btn-sub{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.input-sub{
    padding: 10px 20px;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 20%;
}
.input-sub:focus{
    outline: none;
}
.btn-sub{
    height: 58px;
    padding: 10px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #f1e9bb;
    cursor: pointer;
}
.btn-sub:hover{
    box-shadow: 0 0 1px 1px #f1e9bb;
    background-color: #e7e0b2;
}
.part-titulos{
    width: 100%;
    display: flex;
}
.titulo-ubi, .titulo-red{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.titulo-red{
    width: 40%;
}
.titulo-ubi{
    width: 20%;
}
.p-red{
    width: 300px;
    padding-bottom: 20px;
    border-bottom: 1px solid #606065;
}

/* FOOTER PARTE INFO*/

.footer-part-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.container-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
    width: 40%;
}
.red{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 40px;
}
.img-redes{
    height: 20px;
    width: 20px;
}
.caja-ubi{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-us{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us span{
    width: 50%;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.caja-copy{
    width: 100%;
    background-color: #cfffdd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    box-shadow: 0 1px 3px 1px #6e6d7a;
}
.copy{
    color: #6e6d7a;
    font-size: 0.85em;
}

